body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F7F7;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #DBE2EF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 0px;
    font-size: 25px;
  }
  
  .image-container {
    text-align: center;
    margin-bottom: 10px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: block;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #3F72AF;
    color: #DBE2EF;
    cursor: pointer;
    outline: #DBE2EF;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  button:hover {
    background-color: #ffffff;
  }
  .button-container {
    text-align: center; 
  }

  .button-container button {
    margin: 0 5px; /* Add margin on both sides */
    display: inline-flex;
    align-items: center;
  }

  .button-container a:last-child button {
    margin-right: 5px; /* Add right margin for all buttons except the last one */
  }
  
  
  p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 0.5;
    color: rgb(146, 201, 255);
  }
  
  em {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.1;
    color: #3F72AF;
    font-family: 'Poppins', sans-serif;
  }
  
  .imglogo {
    width: 20px; 
    height: auto; 
    margin-right: 5px;
  }
  
  .button-container button img {
    max-width: 20px;
    height: auto;
    vertical-align: middle;
  }  